.body{
    text-align: center;
}

.title{
    font-size: 40px;
    font-weight: 600;
    background-color: #d9c0c1;
}

.sub-title{
    font-size: 30px;
    font-weight: 500;
    background-color: #d9c0c1;
}

.story{
    font-size: 18px;
    background-color: #d9c0c1;
    padding: 10px;
}

p{
    margin: 0px;
}

.founder{
    height: 400px;
    box-shadow: 0px 0px 6px 5px #d9c0c1;
}