.b{
    /* background-color: blueviolet; */
    background-image: url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}

.myform{
    width: 30%;
    box-sizing: border-box;
    padding: 40px 40px;
    border: 2px solid rgb(71, 71, 71);
    background-color: rgba(255, 255, 255, 0.5);
    /* border-radius: 15px; */
}

.form-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 0px;
    font-weight: 600;
}

.myinput{
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    /* border-radius: 10px; */
    text-align: left;
    border-style: solid;
    margin-top: 10px;
    /* font-family: Quicksand; */
}

.help{
    border-style: solid;
    /* border-radius: 10px; */
    border-width: 2px;
    width: 100%;
    text-align: left;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    /* font-family: Quicksand; */
}

.mybtn{
    margin-top: 40px;
    width: 50%;
    padding: 10px;
    background-color: #8720d0;
    color: white;
    /* font-family: Quicksand; */
    font-weight: 600;
    font-size: 20px;
    border-radius: 40px;
    border-style: hidden;
    margin-bottom: 0px;
    transition-duration: 0.4s;
}

.btnhov:hover{
    background-color: #4214A1;
    /* color: rgb(0, 0, 0); */
    /* border: 1px solid black; */
    width: 70%;
    border-radius: 5px;
    /* outline: 2px solid black; */
}

label{
    font-weight: 700
}