* {
    box-sizing: border-box;
  }

.b{
    text-align: center;
    background-color: blueviolet;
    /* background-image: url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

p{
    margin: 0px;
}

.head{
    font-size: 45px;
}

.cont{
    box-sizing: border-box;
    position: absolute;
    /* left: 38%; */
    margin: 20px;
    /* max-width: 300px; */
    padding: 16px;
    background-color: rgb(150, 107, 107);
}

