/* .nav-item{
    color: white !important;
} */

.nav-item .active{
    color: white !important;
    border-bottom: 3px solid white;
    font-weight: bold;
}

.searchbtn {
    color: white;
    border: none;
    outline: white solid 1px;
}
.searchbtn:hover {
    color: black;
    /* background-color: #5627CC; */
    background-color: #ffffff;
    border: none;
}
.homepg{
    background-image: linear-gradient(180deg, #391B7F 0%, #4214A1 33%, #5627CC 66%, #9F5ECF 100%);
}